<%= form_for @search do |f| %>
  <div class="form_group">
  	<%= f.label :address %><br>
    <%= f.text_field :address %>
  </div><br>
   <div class="form_group">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div><br>
  <div class="form_group">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div><br>
  <div class="form_group">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div><br>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
