<div class="row">

  <div class="col-md-6 col-md-offset-1">
    <h1>Results</h1>

    <% if @response != nil %>
      <p>Select the bar you want to add to the Thirsty Hipster happy hour database</p>
      <% @response.each do |location|%>
        <h4><%= link_to "#{location.name}", new_location_path({:name => location.name, :address => location.address, :city => location.city, :state => location.state, :zip => location.zip}) %></h4>
        <%= image_tag location.rating %>
        <%= location.address %>, <%= location.city %>, <%= location.state %>
      <% end %>
      <br>
      <br>
      <%= link_to "Add New Location if Not Listed Above", new_search_path, class: "btn btn-success" %>
    <% end %>
  </div>

  <div class="col-md-4">
    <h1>Thirsty?</h1>
    <div class="container">
      <%= render 'form' %>
    </div><br>
    <div class="container">
      <%= image_tag "hip2.jpg", :alt => "hipster", id: "hipster" %>
      <h4><span id="caption"></span></h4>
    </div>
  </div>
</div>



