<%= render 'layouts/error', :object => @location %>
<%= form_for @location do |f| %>

  <div class="form_group">
    <%=f.label :name, "Enter Name" %> <br>
    <%=f.text_field :name %>
  </div>

  <div class="form_group">
    <%=f.label :description, "Enter Description" %> <br>
    <%=f.text_area :description %>
  </div> <br>

  <div class="form_group">
    <%=f.label :address, "Enter Street Address" %> <br>
    <%=f.text_field :address %>
  </div> <br>

  <div class="form_group">
    <%=f.label :state, "Enter State" %> <br>
    <%=f.text_field :state %>
  </div> <br>

  <div class="form_group">
    <%=f.label :start_time, "Enter Starting Time" %> <br>
    <%=f.time_field :start_time %>
  </div> <br>

  <div class="form_group">
    <%=f.label :end_time, "Enter Ending Time" %> <br>
    <%=f.time_field :end_time %>
  </div> <br>

  <div class="form_group">
    <%=f.label :url, "Enter Web Site URL" %> <br>
    <%=f.text_field :url %>
  </div> <br>

  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
