<div class="row">

	<div class="col-md-6">
			<h2>Search for Local Happy Hours</h2>
			<h5><em>Thirsty Hipster helps you find the best local happy hours based on users recommendation. Search current listings or add and review new ones.</em></h5>
			<%= form_tag("/locations", method: "get") do %>
			  <div class="form_group">
			    <%= label_tag :zip, "Near Zipcode: " %><br>
			    <%= text_field_tag :zip, @zip %>
			  </div>
			  <span style="font-size: 85%">Seeded zips: 97201, 97205, 97209, 97214, 97232</span>
			  <br><br>
			  <div class="form_group">
			    <%= label_tag :start_time, "Starting Around" %> <br>
			    <%= select_time(Time.now + 30.minutes, :minute_step => 30, :ampm => true, start_hour: 12, end_hour: 23) %>
			  </div> <br>
			  <%= submit_tag "Search", :class => "btn btn-primary" %>
			<% end %> <br>
		<div id="map-canvas"></div>
	</div>

  <div class="col-md-4 col-md-offset-1">
  	<% if @results.length > 0 %>
			<h2>Happy Hours</h2>
				<% @results.each do |result| %>
					<h3><%= link_to "#{result.name}", location_path(result) %></h3>
					<p><%= result.city %>, <%= result.state %> <%= result.zip %></p>
				<% end %>
		<% elsif params[:zip] %>
			<h2>Happy Hours</h2>
			<h5 id="no-results"><em>Sorry, no happy hours have been added for this zip code. <%= link_to "Click here", searches_path %> to add a location.<em></h5>
		<% end %>
	</div>
</div>
