<div class="row">

	<div class="col-md-6">
			<h2>Search for Local Happy Hours</h2>
			<h5><em>Thirsty Hipster helps you find the best local happy hours based on users recommendation. Search current listings or add and review new ones.</em></h5>
			<%= form_tag("/locations", method: "get") do %>
			  <div class="form_group">
			    <%= label_tag :zip, "Zipcode: " %><br>
			    <%= text_field_tag :zip %>
			  </div><br>
			  <%= submit_tag "Search", :class => "btn btn-primary" %>
			<% end %> <br>
		<div id="map-canvas"></div>
	</div>

  <div class="col-md-4 col-md-offset-1">
		<h2>Locations</h2>
			<% @results.each do |result| %>
				<h3><%= link_to "#{result.name}", location_path(result) %></h3>
				<p><%= result.city %>, <%= result.state %> <%= result.zip %></p>
			<% end %>
	</div>
</div>
