<div class="row">
  <div class="col-md-4 col-md-offset-1">
		<h1>Locations</h1>

		<% if @results != [] %>
			<%= form_tag searches_path do %>
			  <%= hidden_field_tag :zip, :value => params[:zip] %>
			  <%= submit_tag "Add New Location", :class => "btn btn-primary" %>
			<% end %>

			<% @results.each do |result| %>
				<h3><%= link_to "#{result.name}", location_path(result) %></h3>
				<p><%= result.city %>, <%= result.state %> <%= result.zip %></p>
			<% end %>
		<% end %>
	</div>



  <div class="col-md-6">
		<div class="container">
			<h1>New Search</h1>
			<h5><em>If the bar you're looking for isn't in the database, you can add it!</em></h5>
			<%= form_tag("/locations", method: "get") do %>
			  <div class="form_group">
			    <%= label_tag :zip, "Zipcode: " %><br>
			    <%= text_field_tag :zip %>
			  </div><br>
			  <%= submit_tag "Search", :class => "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>


<div id="map-canvas"></div>

