.row{:onload => "initialize()"}
  .col-xs-8
    %h2 Search for Local Happy Hours
    %h5
      %em Thirsty Hipster helps you find the best local happy hours based on users recommendation. Search current listings or add and review new ones.
  #map-canvas
  .col-xs-4
    .panel.panel-default.panel-transparent
      .panel-body
        - if @results.length > 0
          %h2 Happy Hours
          - @results.each do |result|
            %h3.location-title= link_to "#{result.name}", location_path(result)
            %div= result.address
            %div= "#{result.city}, #{result.state} #{result.zip}"
        - elsif params[:zip]
          %h2 Happy Hours
          %h5#no-results
            %em
              Sorry, no happy hours have been added for this zip code. #{link_to "Click here", searches_path} to add a location.
:javascript
  var pins = #{@pins.to_json}